# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock
shrinkwrap.yaml

# development
.eslintcache
.stylelintcache
tsconfig.tsbuildinfo

# project specific
test.js
test.ts
todo.md
