/* @import 'https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css'; */

.cm-s-bootstrap.CodeMirror {
  background: var(--light);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px var(--gray);
  color: var(--dark);
  font-family: "Space Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  hyphens: none;
  line-height: 1.5;
  overflow: hidden;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px var(--white);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
.cm-s-bootstrap .CodeMirror-gutters {
  background: var(--gray);
  border: 0;
  min-width: 2em;
}
.cm-s-bootstrap .CodeMirror-guttermarker,
.cm-s-bootstrap .CodeMirror-guttermarker-subtle,
.cm-s-bootstrap .CodeMirror-linenumber {
  color: var(--light);
  text-shadow: 0 1px var(--gray-dark);
}
.cm-s-bootstrap .CodeMirror-cursor {
  border-left: 2px solid var(--gray-dark);
}
.cm-s-bootstrap div.CodeMirror-selected {
  background: var(--gray);
  filter: brightness(2);
}
.cm-s-bootstrap.CodeMirror-focused div.CodeMirror-selected {
  background: var(--gray);
  filter: brightness(2);
}
.cm-s-bootstrap .CodeMirror-line::selection,
.cm-s-bootstrap .CodeMirror-line > span::selection,
.cm-s-bootstrap .CodeMirror-line > span > span::selection {
  background: var(--gray);
  filter: brightness(2);
}
.cm-s-bootstrap .CodeMirror-line::-moz-selection,
.cm-s-bootstrap .CodeMirror-line > span::-moz-selection,
.cm-s-bootstrap .CodeMirror-line > span > span::-moz-selection {
  background: var(--gray);
  filter: brightness(2);
}
.cm-s-bootstrap .CodeMirror-activeline-background {
  background: var(--black);
}
.cm-s-bootstrap .cm-keyword {
  color: var(--green);
}
.cm-s-bootstrap .cm-operator {
  color: var(--blue);
}
.cm-s-bootstrap .cm-variable {
  color: var(--orange);
}
.cm-s-bootstrap .cm-variable-2 {
  color: var(--red);
}
.cm-s-bootstrap .cm-builtin {
  color: var(--pink);
}
.cm-s-bootstrap .cm-number {
  color: var(--indigo);
}
.cm-s-bootstrap .cm-string {
  color: var(--cyan);
}
.cm-s-bootstrap .cm-comment {
  color: var(--gray);
}
.cm-s-bootstrap .CodeMirror-matchingbracket {
  color: var(--yellow) !important;
}
